/* Left menu*/
ul.left-menu
{
	list-style:none;
	margin:0; padding:0;
	margin-bottom:8px;
	position: relative; /*IE bug*/
}

ul.left-menu li
{
     padding: 10px 16px;
    /* background: #f5f5f5 url(/bitrix/templates/test_template/components/bitrix/menu/mega_info/images/left_menu_bg.gif) top repeat-x; */
    border-bottom: 1px solid #0F85C1;
    width: 180px;
}

ul.left-menu li a
{
	font-size:100%;
	color:#BC262C;
	font-weight:bold;
	text-decoration:none;
}

ul.left-menu li a:visited
{
	color:#0F85C1;
}

ul.left-menu li a:hover
{
	color:#A09F9F;
}


ul.left-menu li a.selected:link,
ul.left-menu li a.selected:visited,
ul.left-menu li a.selected:active,
ul.left-menu li a.selected:hover
{
	color:#A09F9F;
}



