.catalog_sidebar{
	float: left;
	width: 24%;
}
.catalog_sidebar .catalog_sidebar_inner{
	margin-right: 15%
}
.subtitle{
	font-size: 19px;
	margin-bottom: 5px;
	margin-top: 50px;
}
.around_sorter_and_navigation{
	border-top: 1px solid #D3D3D3;
	clear: both;
	padding-top: 14px;
}
.catalog_section_description{
	line-height: 18px;
	margin-bottom: 15px;
}
.catalog_section-pic{
	margin-left: 1em;
}
.catalog_section_description h1{
	float: left;
	font-weight: lighter;
	line-height: 1;
	margin: 0 0 10px;
}
.catalog_section_description .descr{
	clear: both;
	margin-top: 10px;
}